<?xml version="1.0"?>
<config>
	<modules>
		<!-- declare module's version information -->
		<Diogo_Entrega>
			<!-- this version will be used for database upgrades -->
			<version>0.1.0</version>
			<depends>
                <Mage_Shipping />
            </depends>
		</Diogo_Entrega>
	</modules>
	
	<global>
		<!-- declare model group for new module -->
		<models>
			<!--model group alias to be used in Mage::getModel() -->
			<diogo_entrega>
				<!-- base class name for the model group -->
				<class>Diogo_Entrega_Model</class>
				<resourceModel>diogo_entrega_mysql4</resourceModel>
			</diogo_entrega>
			
			<!-- declarce your resourcemodel database table entities -->
			<diogo_entrega_mysql4>
				<class>Diogo_Entrega_Model_Mysql4</class>
				<entities>
					<destiny>
						<table>shipping_destiny</table>
					</destiny>
				</entities>
			</diogo_entrega_mysql4>
		</models>

		<!-- declare helper group alias to be used in Mage::getHelper() -->
		<helpers>
            <diogo_entrega>
                <class>Diogo_Entrega_Helper</class>
            </diogo_entrega>
        </helpers>
		
		<!-- declare block group -->
		<blocks>
			<diogo_entrega>
				<class>Diogo_Entrega_Block</class>
			</diogo_entrega>
		</blocks>
		
		<!-- declare resource setup for new module -->
		<resources>
			<!-- resource identifier -->
			<diogo_entrega_setup>
				<!-- specify that this resource is a setup resource and used for upgrade -->
				<setup>
					<module>Diogo_Entrega</module>
				</setup>
				
				<!-- specify database connection for this resource -->
				<connection>
					<!-- do not create new connection, use predefined core setup connection -->
					<use>core_setup</use>
				</connection>
				
			</diogo_entrega_setup>
			
			<diogo_entrega_read>
				<connection>
					<use>core_read</use>
				</connection>
			</diogo_entrega_read>
			
			<diogo_entrega_write>
				<connection>
					<use>core_write</use>
				</connection>
			</diogo_entrega_write>
			
		</resources>
		
	</global>
	
	<admin>
		<routers>
			<diogo_entrega>
				<use>admin</use>
				<args>
					<module>Diogo_Entrega</module>
					<frontName>entrega</frontName>
				</args>
			</diogo_entrega>
        </routers>
    </admin>
	
	<adminhtml>
		<menu>
			<diogo_entrega translate="title" module="diogo_entrega">
				<title>Express Shipping</title>
				<sort_order>72</sort_order>
				<children>
					<destinys translate="title" module="diogo_entrega">
						<title>Destinys</title>
						<sort_order>0</sort_order>
						<action>entrega/adminhtml_destiny</action>						
					</destinys>
					<settings translate="title" module="diogo_entrega">
						<title>Settings</title>
						<sort_order>1</sort_order>
						<action>entrega/adminhtml_settings</action>
					</settings>
				</children>
			</diogo_entrega>
		</menu>
		<acl>
            <resources>
                <admin>
                    <children>
                    	<diogo_entrega>
                            <title>Express Shipping</title>
                            <sort_order>30</sort_order>
                            <children>
								<settings translate="title">
									<title>Settings</title>
								</settings>
							</children>
						</diogo_entrega>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<diogo_entrega>
					<file>diogo_entrega.xml</file>
				</diogo_entrega>
			</updates>
		</layout>
		<translate>
			<modules>
				<diogo_entrega>
					<files>
						<default>Diogo_Entrega.csv</default>
					</files>
				</diogo_entrega>
			</modules>
		</translate>
	</adminhtml>
	
	<default>
		<carriers>
			<diogo_entrega>
			    <!-- GENERAL -->
                <active>1</active>
                <model>Diogo_Entrega_Model_Carrier_ShippingMethod</model>
                <title>Diogo Entrega</title>
			</diogo_entrega>
		</carriers>
	</default>

</config>